<div class="container">
  <header class="row">
    <div class="col-md-6 navigation">
      {{ page.navigation }}
    </div>
    <div class="col-md-6 nav_callapse">
      {{ page.navigation_collapsible }}
    </div>
  </header>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      {{ page.content }}
    </div>
    <div class="col-md-3">
      {{ page.sidebar_first }}
    </div>
  </div>
</div>

<div class="container">
  <footer class="row">
    <div class="col-md-6">
      {{ page.footer }}
    </div>
    <div class="col-md-6">
      {{ page.page_bottom }}
    </div>
  </footer>
</div>
